<!DOCTYPE HTML>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

  <head>
    <title>Good Thymes Virtual Grocery</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>

  <body>

  <table>
    <tr>
      <th>CinemaName</th>
      <th>DetailedAddress</th>
    </tr>
    <tr th:each="cinema : ${cinemas}">
      <td th:text="${cinema.cinemaName}">Onions</td>
      <td th:text="${cinema.detailedAddress}">Onions</td>
      <td th:text="${cinema.region.code}">Oions</td>
      <td th:text="${cinema.region.city}">Oions</td>
      <td th:text="${cinema.region.town}">Oions</td>
    </tr>
  </table>
  </body>

</html>